/*External*/ 
.ak{ 
background-color: gold; 
} 
.sk-mk{ 
background-color: hotpink; 
} 
.bk{ 
background-color: brown; 
} 
.ak-bk{ 
background-color: chocolate; 
} 
.rk{ 
background-color: darkgreen; 
}